@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4">Welcome</h1>
<div class="About">
    <p>Name: Justine Ryu S. Perez</p>
    <p>Course: BSIT</p>
    <p>Section: 32E2</p>
    @Html.ActionLink("View My School Schedule", "School", "Home")
</div>


