@{

}

<div class="text-center">
    <h2 class="display-4">My School Schedule</h2>
</div>
<br />
<br />
<div class="lab">
    <h3>Laboratory Schedule</h3>
    <p>Subject: IT Elective 3 (FULLSTACK)</p>
    <p>Day: Saturday</p>
    <p>Time: 10:00 am - 01:00 pm</p>
</div>
@Html.ActionLink("Back to Home", "Index", "Home")